apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: extracto
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path  # k3s default storage class
  resources:
    requests:
      storage: 5Gi
